<%# <select class="form-select" aria-label="Update status"> %>
  <%# <% Participation.participation_statuses.each do |stat, int| %> %>
    <%# <option value=<%= int %>> %>
      <%# <%= stat %> %>
    <%# </option> %>
  <%# <% end %> %>
<%# </select> %>
<%# <% raise %> %>


<%# <%= simple_form_for(participant) do |f| %> %>
  <%# <%= f.input :participation_status, %>
                  <%# collection: Participation::participation_statuses.keys.map{ |d| d.capitalize }%> %>
  <%# <%= f.button :submit %> %>
<%# <% end %> %>


  <%# <%= simple_form_for(participant)  do |f| %> %>
      <%# <%=  f.input :participation_status, collection: Participation::participation_statuses, placeholder: 'Update status'  %> %>
      <%# <%= f.submit %> %>
  <%# <% end %> %>


   <%= form_for(@participation, data: { confirm: "You sure?"}) do |fa| %>
      <%= fa.hidden_field :status, :value => 1 %>
      <%= fa.submit "Accept", class: "btn btn-large btn-success" %>
    <% end %>
    <%= form_for(@participation, remote: true, data: { confirm: "You sure?" }) do |fr| %>
      <%= fr.hidden_field :status, :value => 2 %>
      <%= fr.submit "Reject", class: "btn btn-large btn-danger" %>
    <% end %>
