<div class="<%= hidden ? 'd-none' : '' %>" data-gr-form-track-target="form">
      <%= f.simple_fields_for(track) do |tracks_form| %>
          <%= tracks_form.input :name %>
          <%= tracks_form.input :address %>
          <%= tracks_form.input :total_km %>
          <%= tracks_form.input :total_vm %>
          <%= f.input :track_file, as: :file %>
        <% end %>
</div>
