<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<%= form_with model: @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%= f.submit %>
<% end %>
