<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <!--User Profile-->
        <div class="card mb-4 rounded">
          <div class="card-body text-center">
            <% if current_user.avatar.key.nil? %>
              <%= image_tag "avatar-fallback.svg", class: "avatar rounded-circle img-fluid",style: "width: 150px; height: 150px;", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= cl_image_tag current_user.avatar.key, class: "avatar rounded-circle img-fluid",style: "width: 150px; height: 150px;", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <h5 class="my-3 "style="font-size:18px;"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h5>
            <p class="text-muted mb-1"><%= current_user.about %></p>
            <p class="text-muted mb-4"><%= current_user.level.capitalize %>, <%= current_user.country.capitalize %></p>
            <%# <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Follow</button>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>
            </div> %>
          </div>
        </div>
        <!--User Profile end-->

        <!--Search Friends-->
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
                <li class="d-flex p-3">
                  <%= simple_form_for :friendship, url: friendships_path, method: :get, html: { class: 'd-flex justify-content-evenly form-inline w-100'} do |f| %>
                          <td><%= f.text_field :name, class: "w-75", placeholder: "Search Users"%></td>
                          <td><%= f.submit "Search", class: "btn btn-primary" %></td>
                  <% end %>
                </li>
            </ul>
            <% unless @user.nil? %>
              <% @user.each do |user| %>
                <%if Friendship.reacted?(current_user.id,user.id) && user.first_name != current_user.first_name  %>

               <li class="list-group-item d-flex justify-content-between align-items-baseline p-3">
                  <div class="d-flex ">
                    <div class="">
                      <% if user.avatar.key.nil? %>
                        <%= image_tag "avatar-fallback.svg", class: "avatar", style: "width:50px; height:50px;" %>
                      <% else %>
                        <%= cl_image_tag user.avatar.key, class: "avatar", style: "width:50px; height:50px;"%>
                      <% end %>
                    </div>
                    <p class="px-3" style="font-size:18px;"><%= user.first_name %> <%= user.last_name[0] %>.</p>
                  </div>



                <%= button_to("Send friend request", new_friendship_path,
              class: "btn btn-primary w-5",  :method => :get, params: { user_id: current_user.id, friend_id: user.id, confirmed: false }) %>
                <% end %>
                </li>
              <% end %>
            <% end %>
          </div>
        </div>
        <!--Search Friends End-->

        <!--Users Friends -->
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0"><%= current_user.first_name.capitalize %>'s Friends</p>
              </li>
              <% @friendships.each do |friendship| %>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <% if friendship.user.avatar.key.nil? %>
                        <%= image_tag "avatar-fallback.svg", class: "avatar", style: "width:32px;height:32px;" %>
                      <% else %>
                        <%= cl_image_tag friendship.user.avatar.key, class: "avatar", style: "width:32px;height:32px;"%>
                      <% end %>

                      <% if friendship.friend.id == current_user.id %>
                        <p class="mb-0"><%= friendship.user.first_name%> <%= friendship.user.last_name%></p>
                      <% else %>
                        <p class="mb-0"><%= friendship.friend.first_name%> <%= friendship.friend.last_name%></p>
                      <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <!--Users Friends End-->
        <% @friendships.each do |friendship| %>
        <%if !Friendship.reacted?(friendship.user.id,friendship.friend.id) && friendship.user.first_name != current_user.first_name && Friendship.pending_reacted?(friendship.user.id,friendship.friend.id) && Friendship.request_origin(friendship.user.id,friendship.friend.id)%>

          <li class="list-group-item d-flex justify-content-between align-items-center p-3">
            <%= image_tag "avatar-fallback.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% if friendship.friend.id == current_user.id && friendship.confirmed == false%>
                  <p class="mb-0"><%= friendship.user.first_name%> <%= friendship.user.last_name%> ::::</p>
                  <%= button_to("Confirm", friendship_path(id: Friendship.find_friendship(friendship.user.id,friendship.friend.id)),class: "btn btn-primary w-100 h-100",  :method => :patch, params: { friendship: { confirmed: true}}) %>
                <% else %>
                  <p class="mb-0"><%= friendship.friend.first_name%> <%= friendship.friend.last_name%> ::::</p>
                  <%= button_to("Confirm", friendship_path(id: Friendship.find_friendship(friendship.user.id,friendship.friend.id)),class: "btn btn-primary w-100 h-100",  :method => :patch, params: { friendship: { confirmed: true}}) %>
                <% end %>
          </li>
          <% end %>
        <% end %>







        <!--Search Friends-->
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">Friend Requests</p>
              </li>
            </ul>
             <% unless @requests.nil? %>
                  <% @requests.each do |user| %>
                    <%if !Friendship.reacted?(current_user.id,user.id) && user.first_name != current_user.first_name && Friendship.pending_reacted?(current_user.id,user.id) && Friendship.request_origin(current_user.id,user.id)%>
               <li class="list-group-item d-flex justify-content-between align-items-baseline p-3">
                  <div class="d-flex ">
                    <div class="">
                      <% if user.avatar.key.nil? %>
                        <%= image_tag "avatar-fallback.svg", class: "avatar", style: "width:32px;height:32px;" %>
                      <% else %>
                        <%= cl_image_tag user.avatar.key, class: "avatar", style: "width:32px;height:32px;"%>
                      <% end %>
                    </div>
                    <p class="px-3" style="font-size:18px;"><%= user.first_name %> <%= user.last_name[0] %>.</p>
                  </div>
                   <%= button_to("Confirm Friend", friendship_path(id: Friendship.find_friendship(current_user.id,user.id)),class: "btn btn-primary w-100 h-100",  :method => :patch, params: { friendship: { confirmed: true}}) %>
                <% end %>
                </li>
              <% end %>
            <% end %>
          </div>
        </div>
        <!--Search Friends End-->
      <!--User Private Info -->
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-1">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-1">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= current_user.email %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-1">About: </p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= current_user.about %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-1">Zip Code</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= current_user.zip_code %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-1">Level</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= current_user.level.capitalize %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
              </div>
              <div class="col-sm-9">
                <p class="mb-1">Country</p>
                <p class="text-muted mb-0"><%= current_user.country %></p>
              </div>
            </div>
          </div>
        </div>
        <!--User Private Info End -->







      </div>
    </div>
  </div>
</section>
