<%= link_to gruppetto_path(gruppetto), :action => 'go' do  %>

<div class="d-flex">
  <div class="card info-card flex-row col-12 my-2">
    <img class="" src="https://via.placeholder.com/128"/>
    <div class="card-body">
      <h5 class="card-title">
        <%= gruppetto.name %>
      </h5>
      <h5>
        <i class="fa-solid fa-calendar"></i> <%= gruppetto.start.strftime('%d %b %l%P')%>
      </h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-people"></i>
        </div>
        <div class="">
          <h6>
            <%= image_tag "avatar-fallback.svg", style: 'height:32px;width:32px;'  %>
            <%= attending_count = gruppetto.participations.count {|attending| attending.participation_status == "Attending" } %> riders
          </h6>
          <span class="text-danger small pt-1 fw-bold">
            <i class="fa-sharp fa-solid fa-ruler"></i>
            <%= gruppetto.track.total_km.round(0) %> km/h
          </span>
          <span class="text-muted small pt-2 ps-1">
            <i class="fa-sharp fa-solid fa-mountain"></i>
            <%= gruppetto.track.total_vm.round(0) %> vm
          </span>
        </div>
      </div>
      </div>
  </div>
</div>







<!--
<div class="card info-card flex-row m-3"><img class="card-img-left example-card-img-responsive" src="https://via.placeholder.com/128"/>
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="row-auto">
        <div class="table-responsive">
          <table class="table table-borderless card-table mb-0">
            <tbody>
              <tr>
                <td class="card-title"colspan="4"><%= gruppetto.name %></td>
              </tr>
              <tr>
                <td class="text-success small pt-1 fw-bold"><i class="fa-solid fa-calendar"></i> <%= gruppetto.start.strftime('%d %b %l%P')%></td>
                <td><%= image_tag "avatar-fallback.svg", style: 'height:32px;width:32px;'  %><%= @attending_count = gruppetto.participations.count {|attending| attending.participation_status == "Attending" } %>
                <td><i class="fa-sharp fa-solid fa-ruler"></i><%= gruppetto.track.total_km %><%= params  %></td>
                <td><i class="fa-sharp fa-solid fa-mountain"></i><%= gruppetto.track.total_vm %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>-->
<% end %>
