<%= link_to gruppetto_path(gruppetto), :action => 'go' do  %>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="row">
      <div class="col-12">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td rowspan="3" class="text-gray-dark">
              <img src="https://via.placeholder.com/128">
              </td>
              <td colspan="4" class="text-gray-dark table-info"><i class="fa-sharp fa-solid fa-dice-d8"></i> <%= gruppetto.name %></td>
            </tr>
            <tr>
              <td colspan="2"><i class="fa-solid fa-calendar"></i> <%= gruppetto.start.strftime('%d %b %l%P')%></td>
              <td colspan="2"><%= image_tag "avatar-fallback.svg", style: 'height:32px;width:32px;'  %><%= gruppetto.participants.count %></td>
            </tr>
            <tr>
              <td><i class="fa-sharp fa-solid fa-ruler"></i><%= gruppetto.track.total_km %></td>
              <td>@twitter</td>
              <td><i class="fa-sharp fa-solid fa-mountain"></i><%= gruppetto.track.total_vm %></td>
              <td>blue t</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
