<div class="modal fade" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" style="display: none; z-index:10000;">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Search Filter</h5>
      </div>
      <div class="modal-body">
        <%= form_with url: gruppettos_path, method: :get do |form| %>

          <%= form.label :zip_code, "Zip Code" %>
          <%= form.select :zip_code,
                    {
                      # "Melbourne Zip Codes" => [3002, 8002, 3000, 3001, 3004, 8001, 3045, 3052, 5006, 3051, 3207, 3050, 3205, 3004, 3010, 3003]
                      "Melbourne Zip Codes" => [
                        ["Select",0],
                        [3000,[144.956776,-37.817403].reverse],
                        [3002,[144.982207,-37.818517].reverse],
                        [3003,[144.949592,-37.810871].reverse],
                        [3004,[144.970161,-37.844246].reverse],
                        [3005,[144.950858,-37.824608].reverse]
                      ]
                    } %>
        <hr>
          <%= form.label :distance, "Distance" %>
          <%= form.range_field :distance, in: 1..100%>
        <hr>
          <%= form.label :speed, "Speed" %>
          <%= form.number_field :speed, in: 0..50%>
        <hr>
          <%= form.label :difficulty, "Difficulty" %>
          <%= form.select :difficulty,
                    {
                      "Options" => [ ["Select",""], ["Easy","Easy"], ["Moderate","Moderate"], ["Hard","Moderate"] ]
                    } %>
        <hr>
          <%= form.label :start_date, "Start Date" %>
          <%= form.date_field :start_date%>
        <hr>
          <%= form.label :end_date, "End Date" %>
          <%= form.date_field :end_date%>
        <hr>

          <%= form.submit "Filter", class: "btn btn-primary" %>
          <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
