<%# <%= turbo_frame_tag dom_id(participant) do %>
  <div class="flex-grow-1 text-end pe-3 participants-going" id="participants-going">
    <p class="">
      <%= attending_count = @gruppetto.participations.filter{|attending| attending.participation_status == "Attending"  && attending.user != current_user}.count %>
      <% if attending_count > 1 || attending_count == 0 %>
        are
      <% else %>
        is
      <% end %>
      joining
    </p>
    <% first_five = @gruppetto.participations.filter{|attending| attending.participation_status == "Attending"  && attending.user != current_user} %>
    <% if first_five.count > 5 %>
      <% first_five[0...5].each do |part| %>
        <% if part.user.avatar.key.nil? %>
          <%= image_tag "avatar-fallback.svg", height: 45, width: 45, class: 'rounded-circle shadow-sm', style: 'margin-inline-start: -30px;' %>
        <% else %>
          <%= cl_image_tag part.user.avatar.key, height: 45, width: 45, crop: :fill, class: 'rounded-circle shadow-sm', style: 'margin-inline-start: -30px;' %>
        <% end %>
      <% end %>
      + <%= first_five.count - 5 %>
    <% else %>
      <% first_five.each do |part| %>
        <% if part.user.avatar.key.nil? %>
          <%= image_tag "avatar-fallback.svg", height: 45, width: 45, class: 'rounded-circle shadow-sm', style: 'margin-inline-start: -30px;' %>
        <% else %>
          <%= cl_image_tag part.user.avatar.key, height: 45, width: 45, crop: :fill, class: 'rounded-circle shadow-sm', style: 'margin-inline-start: -30px;' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<%# <% end %>
