<%# Navigation bar at the top   %>

<%# Map with the start locations of each gruppettos %>
<div class="" style="position: sticky; top: 6%; z-index:-1000;">
  <div style="width:100%; height: 40vh;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
  <div style='position:fixed;bottom:78px' class='w-100 d-flex justify-content-center'>
    <% if params[:commit] != 'going' %>
      <button type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModalScrollable">
        Search gruppettos
      </button>

      <% if params[:commit] %>
        <form action="/gruppettos?type<%=params[:type]%>">
          <button type="submit" class="btn ms-2" style='background-color:#CA3759;'><h5 class='mb-0'><i class="text-light fa-solid fa-xmark"></i></h5></button>
        </form>

      <% end %>
    <% end %>
  </div>
  <div class="" style="margin-top:-10px;">
  <%= render "search" %>
<div>
<div  style='padding-bottom:56px'>
  <%# renders the index_card.html.erb with sending the gruppetto params %>
  <table class="table table-hover table-borderless" style="background: rgba(238,238,238,0.9);border-radius: 10px;">
    <thead>
    </thead>
      <tbody>
        <% @gruppettos.each do | gruppetto | %>
        <%= render "index_card", gruppetto: gruppetto %>
        <% end %>
    </tbody>
  </table>
</div>
