<div class="container">
    <h1>New gruppetto</h1>
    <%= simple_form_for(@gruppetto) do |f| %>
      <%= f.input :start %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :avg_speed %>

      <%= f.input :difficulty,
                  collection: Gruppetto::difficulties.keys.map{ |d| d.capitalize }%>
      <%= f.input :event_type,
                  collection: Gruppetto::event_types.keys.map{ |d| d.capitalize }%>
      <%= f.input :participation_rule,
                  collection: Gruppetto::participation_rules.keys.map{ |d| d.capitalize }%>

      <%# Existing vs new route %>
      <%= render 'tracks/gruppetto_tracks', {tracks: @tracks, track: @track, f: f} %>
      <div class="d-flex">
        <%= f.submit 'Save and publish', class: "btn btn-primary"%>
        <%= f.submit 'Save as draft not-implemented', class: "ms-3 btn btn-outline-primary"%>
      </div>
    <% end %>
</div>
