<div class="container m-3 px-2">
  <h1> <%= @gruppetto.name %></h1>
  <p> <%= @gruppetto.start.strftime('%d %b %l%P') %></p>

  <div class="d-flex justify-content-center">
    <div class="col-6">
        <p> <%= User.find(@gruppetto.user_id).first_name %> is hosting</p>
    </div>
    <div class="col-6">
      <div class="d-flex">
        <p class="px-1"><i class="fa-solid fa-person-biking"></i></p>
        <p class="px-1"> <%= @gruppetto.participant_ids.count %> joining </p>
      </div>
    </div>
  </div>

  <% if @gruppetto.participant_ids.include? current_user.id %>
     <% @participant = @gruppetto.participations.find { |participant|
          participant.user_id == current_user.id} %>
            <%= render "participations/status",  participation_status: @participant.participation_status  %>
  <% end %>

  <div>
    <div style="width: 80%; height: 200px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <div>
          <p>Distance</p>
          <p><%= @gruppetto.track.total_km %></p>
        </div>
        <div>
          <p>Pace</p>
          <p><%= @gruppetto.avg_speed %></p>
        </div>
        <div>
          <p>Incline</p>
          <p><%= @gruppetto.track.total_vm %></p>
        </div>
      </div>
      <div class="col-6">
        <p> <%= @gruppetto.description %></p>
      </div>
    </div>
  </div>
  <%# TO BE UPDATED WHEN GPX FILES ARE AVAILABLE %>
  <%= link_to "Download the route as GPX", root_path %>

  <%# TO BE THE STANDARDISED FOOTER %>
  <div class="d-flex justify-content-between">
    <%= link_to "Back to Grupettos", gruppettos_path, class: "btn btn-outline-primary" %>
    <%= render "participations/new", gruppetto: @gruppetto %>
  </div>

    <% if @gruppetto.participant_ids.include? current_user.id %>
      <% @participant = @gruppetto.participations.find { |participant|
          participant.user_id == current_user.id} %>
            <%= render "participations/delete", { gruppetto: @gruppetto, participant: @participant } %>
    <% end %>
</div>


<% if current_user == @gruppetto.user %>
  <div>
    <p>-----------------------------------</p>
    <p>OWNER VIEW</p>
    <p>Attendees</p>
    <ul class="list-group">
      <% @gruppetto.participations.each do |participant| %>
        <li class="list-group-item">
          <%= participant.user.first_name %> <% participant.user.last_name %>
          <%= render "participations/status",  participation_status: participant.participation_status %>
          <%# <%= link_to "Update Status", edit_gruppetto_participation_path %>
          <%# <%= render "participations/edit", { participant: participant, participation_status: participant.participation_status } %>
          <%# <%= select_tag :participation_status, options_for_select(Participation.participation_statuses) %>

          <%= turbo_frame_tag dom_id(participant) do %>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= participant.participation_status %>
              </button>
              <ul class="dropdown-menu">
                <% Participation.participation_statuses.keys.each do |status| %>
                  <li>

                    <%= link_to status,
                                gruppetto_participation_path(@gruppetto, participant, participant: {user_id: participant.user_id, participation_status: status}),
                                class: 'dropdown-item',
                                data: {
                                  user_id: 1,
                                  turbo_method: :patch
                                } %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>

      <% end %>
    </ul>
  </div>
<% end %>
