<div class="container mt-3">
  <h1 class="pt-5"> <%= @gruppetto.name %></h1>
  <p> <%= @gruppetto.start.strftime('%d %b %l%P') %></p>

  <div class="d-flex justify-content-between">
    <div class="">
        <p> <%= User.find(@gruppetto.user_id).first_name %> is hosting</p>
    </div>
    <div class="">
      <div class="d-flex">
        <p class="px-1"><i class="fa-solid fa-person-biking"></i></p>
        <% @attending_count = @gruppetto.participations.count {|attending| attending.participation_status == "Attending" } %>
        <p class="px-1"> <%= @attending_count %> riding </p>
      </div>
    </div>
  </div>

  <% if @gruppetto.participant_ids.include? current_user.id %>
    <% @participant = @gruppetto.participations.find { |participant|
          participant.user_id == current_user.id} %>
            <%= render "participations/status",  participation_status: @participant.participation_status  %>
  <% end %>
  <% if (@gruppetto.participant_ids.include? current_user.id) &&
        (@participant.participation_status == "Attending") &&
        (@gruppetto.user_id != current_user.id) %>
        <%= render "participations/delete", { gruppetto: @gruppetto, participant: @participant } %>
    <% end %>

  <div class="py-3">
    <div style="width: 100%; height: 200px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div>
    <%# NEED TO ADD THIS WHEN WE HAVE IMAGES ATTACHED TO ROUTES IN SEED %>
    <%# <%= cl_image_tag @gruppetto.track.image.key, height: 300, width: 400, crop: :fill %>
  </div>

  <div class="">
    <div class="row">
      <div class="col-6">
          <p>Distance - <%= @gruppetto.track.total_km %> km </p>
          <p>Pace - <%= @gruppetto.avg_speed %> km/h</p>
          <p>Incline - <%= @gruppetto.track.total_vm %> vm</p>
      </div>
      <div class="col-6">
        <p> <%= @gruppetto.description %></p>
        <%# TO BE UPDATED WHEN GPX FILES ARE AVAILABLE %>
        <%= link_to "Download the route as GPX", root_path %>
      </div>
    </div>
  </div>

  <% if current_user == @gruppetto.user %>
    <div class="border-top mx-5 pt-3 text-center">
    <h5 class="text-center">Gruppetto Host View - Manage Attendance</h5>
    <% if @gruppetto.participant_ids.count > 1 %>
          <div class="py-2">
            <table class="table table-hover table-responsive-sm justify-content-between">
              <thead>
                <tr>
                  <th scope="col">Status</th>
                  <th scope="col">Name</th>
                  <th scope="col">Accept/Reject</th>
                </tr>
              </thead>
              <tbody>
                <% @gruppetto.participations.each do |participant| %>
                  <% unless @gruppetto.user_id == participant.user_id %>
                      <tr>
                        <td><%= render "participations/status", participation_status: participant.participation_status %></td>
                        <td><p class="m-0"><%= participant.user.first_name %> <%= participant.user.last_name %></p></td>
                        <td><%= render "participations/buttons", participant: participant, gruppetto: @gruppetto %></td>
                      </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
      </div>
    <% else %>
      <p>No attendees yet 😢</p>
    <% end %>
  <% end %>
</div>

<%= render "gruppettos/show_footer" %>
