
<div class="mt-3 overflow-hidden"
      data-controller="track-subscription"
      data-track-subscription-track-id-value="<%= @gruppetto.track.id %>">
  <div data-track-subscription-target="trackImage">
    <% unless @gruppetto.track.image.url.nil? %>
      <%= cl_image_tag @gruppetto.track.image.key, height: 400, width: 400, crop: :fill, class: 'w-100', id: 'image' %>
    <% else %>
      <%= image_tag "track-fallback.svg", height: 400, width: 400, class: 'w-100', data: { track_subscription_target: "trackImage" }, id: 'image' %>
    <% end %>
  </div>
  <div class="d-flex mt-3">
    <div class='w-100'>
      <div class="d-flex">
        <h3 class="mb-2 overflow-hidden" style="color:#0E0000"><%= @gruppetto.name %></h3>
    </div>
        <table class='table'>
          <tbody >
            <tr>
              <td><p class="text-muted">When?</p></td>
              <td><p class="overflow-hidden text-muted text-end"><%= @gruppetto.start.strftime('%d.%m.%Y  - %l%P') unless @gruppetto.start.nil? %></p></td>
            </tr>
            <tr>
              <td><p class="text-muted">Where?</p></td>
              <td><p class="overflow-hidden text-muted text-end"><%= @gruppetto.track.address unless @gruppetto.track.address.nil? %></p></td>
            </tr>
            <tr>
              <td ><p class="text-muted">What?</p>
              <td>
              <p> <%= @gruppetto.description %></p>
              <div class="d-flex justify-content-start">
                <div class="d-flex align-items-baseline"  style="width: 120px;">
                  <i class="fa-solid fa-gauge" style="margin-left:2px;"></i>
                  <p class="ms-2 mb-0 flex-grow-1 text-end overflow-hidden"><%= @gruppetto.avg_speed.nil? ? " - " : @gruppetto.avg_speed %> km/h</p>
                </div>
                <div class="d-flex align-items-baseline"  style="width: 120px;margin-left:24px;">
                  <i class="fa-solid fa-route"></i>
                  <p class="ms-2 mb-0 flex-grow-1 text-end overflow-hidden" data-track-subscription-target="totalKm"><%= @gruppetto.track.total_km.nil? ? " - " : @gruppetto.track.total_km %> km</p>
                </div>
              </div>
              <div class="d-flex justify-content-start">
                <div class="d-flex align-items-baseline"  style="width: 120px;">
                  <i class="fa-solid fa-dumbbell"></i>
                  <p class="ms-2 mb-0 flex-grow-1 text-center overflow-hidden"><%= @gruppetto.difficulty.nil? ? " - " : @gruppetto.difficulty %> </p>
                </div>
                <div class="d-flex align-items-baseline" style="width: 120px;margin-left:24px;">
                  <i class="fa-solid fa-mountain"></i>
                  <p class="ms-2 mb-0 flex-grow-1 text-end overflow-hidden" data-track-subscription-target="totalVm"><%= @gruppetto.track.total_vm.nil? ? " - " : @gruppetto.track.total_vm %> vm</p>
                </div>
              </div>
              <div>
                <% if !@gruppetto.track.file.url.nil? %>
                  <p class='mt-2 mb-0'><%= link_to "Download the route as GPX", @gruppetto.track.file.url %></p>
                <% end %>
              </div>
                </td>
              </td>
            </tr>
            <tr>
              <td>
                <div class="">
                  <p class="text-muted"><%= @gruppetto.user.first_name %> is hosting</p>
                  <% if @gruppetto.user.avatar.key.nil? %>
                    <%= image_tag "avatar-fallback.svg", height: 25, width: 25, class: 'rounded-circle shadow-sm' %>
                  <% else %>
                    <%= cl_image_tag @gruppetto.user.avatar.key, height: 25, width: 25, crop: :fill, class: 'rounded-circle shadow-sm' %>
                  <% end %>
                </div>
              </td>
              <td>
                <div class="flex-grow-1 text-end pe-3">
                  <p class="text-muted"><%= @gruppetto.participations.count {|attending| attending.participation_status == "Attending" } %> are joining</p>
                  <% @gruppetto.participants.each do |participant| %>
                    <% if participant.avatar.key.nil? %>
                      <%= image_tag "avatar-fallback.svg", height: 25, width: 25, class: 'rounded-circle shadow-sm', style: 'margin-inline-start: -20px;' %>
                    <% else %>
                      <%= cl_image_tag participant.avatar.key, height: 25, width: 25, crop: :fill, class: 'rounded-circle shadow-sm', style: 'margin-inline-start: -20px;' %>
                    <% end %>
                  <% end %>
                </div>
              </td>
            </tr>
            <tr>
            <td><p class="text-muted">And you are...</p></td>
            <td>
              <% if @gruppetto.participants.include? current_user %>
                <% @participant = @gruppetto.participations.find { |participant| participant.user_id == current_user.id} %>
                  <%= render "participations/status",  participation_status: @participant.participation_status  %>
                  <% if (@participant.participation_status == "Attending") &&
                        (@gruppetto.user != current_user) %>
                    <%= render "participations/delete", { gruppetto: @gruppetto, participant: @participant } %>
                  <% end %>
              <% end %>
            </td>

            </tr>
          </tbody>
        </table>

      </div>
      <div class="d-flex">

      </div>
    </div>
  </div>

  <div class="">
    <div class="row">
      <div class="col-6">

        <%# TO BE UPDATED WHEN GPX FILES ARE AVAILABLE %>

        <p><%= link_to "Chat", gruppetto_chatroom_path(@gruppetto) %></p>
      </div>
    </div>
  </div>

  <% if current_user == @gruppetto.user %>
    <div class="border-top mx-5 pt-3 text-center">
    <h5 class="text-center">Gruppetto Host View - Manage Attendance</h5>
    <% if @gruppetto.participants.count > 1 %>
          <div class="py-2">
            <table class="table table-hover table-responsive-sm justify-content-between">
              <thead>
                <tr>
                  <th scope="col">Status</th>
                  <th scope="col">Name</th>
                  <th scope="col">Accept/Reject</th>
                </tr>
              </thead>
              <tbody>
                <% @gruppetto.participations.each do |participant| %>
                  <% unless @gruppetto.user_id == participant.user_id %>
                      <tr>
                        <td><%= render "participations/status", participation_status: participant.participation_status %></td>
                        <td><p class="m-0"><%= participant.user.first_name %> <%= participant.user.last_name %></p></td>
                        <td><%= render "participations/buttons", participant: participant, gruppetto: @gruppetto %></td>
                      </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
      </div>
    <% else %>
      <p>No attendees yet 😢</p>
    <% end %>
  <% end %>
</div>
