<div class="mt-3"
      data-controller="track-subscription"
      data-track-subscription-track-id-value="<%= @gruppetto.track.id %>">

  <div data-track-subscription-target="trackImage">
    <% unless @gruppetto.track.image.url.nil? %>
      <%= cl_image_tag @gruppetto.track.image.key, height: 400, width: 400, crop: :fill, class: 'w-100' %>
    <% else %>
      <%= image_tag "track-fallback.svg", height: 400, width: 400 %>
    <% end %>
  </div>
  <div class="m-2 px-3 py-2 bg-light p-1 rounded">
    <div class='d-flex justify-content-between'>
      <div class='w-100'>
          <h3 class="mb-0 overflow-hidden fw-bold" style='color:#37caa8;'><%= @gruppetto.name %></h3>
          <p class="text-muted mb-0 pt-2">on <%= @gruppetto.start.strftime('%d.%m.%Y  - %l%P') unless @gruppetto.start.nil? %></p>
          <p class="text-muted">starting at <%= @gruppetto.track.address unless @gruppetto.track.address.nil? %></p>
      </div>
      <div>
        <% if !@gruppetto.track.file.url.nil? %>
          <%= link_to @gruppetto.track.file.url, class: 'btn btn-outline-secondary' do %>
            <div class='d-flex align-items-baseline'><i class="fa-solid fa-download me-2"></i>GPX</div>
          <% end %>
        <% end %>
        </div>
    </div>
    <div>
      <div>
         <p> <%= @gruppetto.description %></p>
      </div>
        <div class="d-flex justify-content-start">
          <div class="d-flex align-items-baseline py-1"  style="width: 100px;">
            <i class="fa-solid fa-gauge" style="margin-left:2px;"></i>
            <p class="ms-2 mb-0 flex-grow-1 text-end overflow-hidden"><%= @gruppetto.avg_speed.nil? ? " - " : @gruppetto.avg_speed %> km/h</p>
          </div>
          <div class="d-flex align-items-baseline py-1"  style="width: 100px;margin-left:42px;">
            <i class="fa-solid fa-route"></i>
            <p class="ms-2 mb-0 flex-grow-1 text-end overflow-hidden" data-track-subscription-target="totalKm"><%= @gruppetto.track.total_km.nil? ? " - " : @gruppetto.track.total_km %> km</p>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <div class="d-flex align-items-baseline py-1"  style="width: 100px;">
            <i class="fa-solid fa-dumbbell"></i>
            <p class="ms-2 mb-0 flex-grow-1 text-end overflow-hidden"><%= @gruppetto.difficulty.nil? ? " - " : @gruppetto.difficulty %> </p>
          </div>
          <div class="d-flex align-items-baseline" style="width: 100px;margin-left:42px;">
            <i class="fa-solid fa-mountain"></i>
            <p class="ms-2 mb-0 flex-grow-1 text-end overflow-hidden" data-track-subscription-target="totalVm"><%= @gruppetto.track.total_vm.nil? ? " - " : @gruppetto.track.total_vm %> vm</p>
          </div>
        </div>


    </div>
  </div>

    <div class="m-2 px-3 py-2 bg-light p-1 rounded">
      <h4 class="mb-0 overflow-hidden" style='color:#37caa8;'>Gruppetto overview</h4>
        <table class='table table-borderless mb-0'>
          <tbody >
            <tr class='border-bottom'>
              <td class='px-0 pb-3'>
                <div class="">
                  <p class=""><%= @gruppetto.user.first_name %> is hosting</p>
                  <% if @gruppetto.user.avatar.key.nil? %>
                    <%= image_tag "avatar-fallback.svg", height: 25, width: 25, class: 'rounded-circle shadow-sm' %>
                  <% else %>
                    <%= cl_image_tag @gruppetto.user.avatar.key, height: 25, width: 25, crop: :fill, class: 'rounded-circle shadow-sm' %>
                  <% end %>
                </div>
              </td>
              <td class='px-0 pb-3'>
                <%= render "show_going", grupppetto: @gruppetto %>
              </td>
            </tr>
            <tr>
              <td class='px-0'><p class=" mb-0">What about you?</p></td>
            </tr>
            <tr class='my-0'>
              <td class='px-0 pb-3'>
                <%= render "participations/new", gruppetto: @gruppetto, participant: @participant %>
                <% if @gruppetto.participants.include? current_user %>
                  <% @participant = @gruppetto.participations.find { |participant| participant.user_id == current_user.id} %>
                    <%= render "participations/status",  participation_status: @participant.participation_status  %>
                    <% if (@participant.participation_status == "Attending") &&
                          (@gruppetto.user != current_user) %>
                      <div class='mt-3'>
                        <%= render "participations/delete", { gruppetto: @gruppetto, participant: @participant } %>
                      </div>
                    <% end %>
                  <% end %>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    <div class="m-2 px-1 py-2">
        <%# <h4 class="mb-3 overflow-hidden" style='color:#37caa8;'>Chat with the gruppetto</h4> %>
        <%= link_to "Chat with the gruppetto", gruppetto_chatroom_path(@gruppetto), class: 'btn btn-primary w-100' %>
      </div>
    </div>
  <% if current_user == @gruppetto.user %>

    <div class="m-2 px-3 py-2 bg-light p-1 rounded">
        <h4 class="mb-0 overflow-hidden" style='color:#37caa8;'>Manage your participants</h4>
        <% if @gruppetto.participants.count > 1 %>
          <div class="py-2">
            <div class="table table-hover table-responsive-sm justify-content-between">
              <div class="row border-bottom">
                <h5 class="col text-center">Status</h5>
                <h5 class="col text-center">Name</h5>
                <h5 class="col text-center">Accept/Reject</h5>
              </div>
              <div>
                <% @gruppetto.participations.each do |participant| %>
                  <% unless @gruppetto.user_id == participant.user_id %>
                      <%= render "participations/participant", participant: participant %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <p>No attendees yet 😢</p>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
