<div class="mt-3" style="padding-bottom:80px; margin-bottom:80px;"
      data-controller="track-subscription"
      data-track-subscription-track-id-value="<%= @gruppetto.track.id %>">

  <div data-track-subscription-target="trackImage">
    <% unless @gruppetto.track.image.url.nil? %>
      <%= cl_image_tag @gruppetto.track.image.key, height: 400, width: 400, crop: :fill, class: 'w-100', id: 'image' %>
    <% else %>
      <%= image_tag "track-fallback.svg", height: 400, width: 400, class: 'w-100', id: 'image' %>
    <% end %>
  </div>

  <div class="m-2 p-4 bg-light rounded">
    <div class='d-flex justify-content-between'>
      <div class='w-100'>
          <h3 class="mb-1 overflow-hidden" style='color:#37caa8;'><%= @gruppetto.name %></h3>
          <h5 class="mb- pt-2"><%= @gruppetto.start.strftime('%d.%m.%Y  - %l%P') unless @gruppetto.start.nil? %></h5>
      </div>
      <div>
        <% if !@gruppetto.track.file.url.nil? %>
          <%= link_to @gruppetto.track.file.url, class: 'btn btn-outline-secondary' do %>
            <div class='d-flex align-items-baseline'><i class="fa-solid fa-download me-2"></i>GPS</div>
          <% end %>
        <% end %>
      </div>
    </div>
          <p class="text-muted">starting at <%= @gruppetto.track.address unless @gruppetto.track.address.nil? %></p>
          <hr>
    <div>
      <div>
         <p class="text-muted"> <%= @gruppetto.description %></p>

        <div class="d-flex justify-content-start">
          <div class="align-items-baseline"  style="width: 140px;">
            <p class='mb-0' style="font-size:12px">Average speed</p>
            <p class=" mb-2 flex-grow-1 overflow-hidden text-dark"><%= @gruppetto.avg_speed.nil? ? " - " : @gruppetto.avg_speed %> km/h</p>
          </div>
          <div class="align-items-baseline"  style="width: 140px;margin-left:24px;">
            <p class='mb-0' style="font-size:12px">Distance</p>
            <p class=" mb-2 flex-grow-1 overflow-hidden text-dark" data-track-subscription-target="totalKm"><%= @gruppetto.track.total_km.nil? ? " - " : @gruppetto.track.total_km %> km</p>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <div class="align-items-baseline"  style="width: 140px;">
            <p class='mb-0' style="font-size:12px">Difficulty</p>
            <p class=" mb-0 flex-grow-1 overflow-hidden text-dark"><%= @gruppetto.difficulty.nil? ? " - " : @gruppetto.difficulty %> </p>
          </div>
          <div class="align-items-baseline" style="width: 140px;margin-left:24px;">
            <p class='mb-0' style="font-size:12px">Elevation Gain</p>
            <p class=" mb-0 flex-grow-1 overflow-hidden text-dark" data-track-subscription-target="totalVm"><%= @gruppetto.track.total_km.nil? ? " - " : @gruppetto.track.total_vm %> m</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="m-2 p-4 bg-light rounded" >
    <h4 class="mb-0 overflow-hidden" style='color:#37caa8;'>Gruppetto overview</h4>
    <table class='table table-borderless mb-0'>
      <tbody >
        <tr>
          <td class='px-0 pb-3'>
            <div class="">
              <p class=""><%= @gruppetto.user.first_name %> is hosting</p>
              <% if @gruppetto.user.avatar.key.nil? %>
                <%= image_tag "avatar-fallback.svg", height: 45, width: 45, class: 'rounded-circle shadow-sm' %>
              <% else %>
                <%= cl_image_tag @gruppetto.user.avatar.key, height: 45, width: 45, crop: :fill, class: 'rounded-circle shadow-sm' %>
              <% end %>
            </div>
          </td>
          <td class='px-0 pb-3'>
            <%= render "show_going", grupppetto: @gruppetto %>
          </td>
        </tr>
        <tr>
          <td class='px-0'><p class=" mb-0">What about you?</p></td>
        </tr>
        <tr class='my-0'>
          <td class='px-0 pb-2'>
            <%= render "participations/new", gruppetto: @gruppetto, participant: @participant %>
            <% if @gruppetto.participants.include? current_user %>
              <% @participant = @gruppetto.participations.find { |participant| participant.user_id == current_user.id} %>
              <%= render "participations/status",  participation_status: @participant.participation_status  %>
              <% if (@participant.participation_status == "Attending") &&
                    (@gruppetto.user != current_user) %>
                <div class='mt-2'>
                  <%= render "participations/delete", { gruppetto: @gruppetto, participant: @participant } %>
                </div>
              <% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <% if @gruppetto.participants.include? current_user %>
      <% if @gruppetto.participations.find { |participant| participant.user_id == current_user.id}.participation_status == "Attending" %>
        <div class="py-2">
          <p>Group Chat</p>
          <%= link_to "Chat with the gruppetto", gruppetto_chatroom_path(@gruppetto), class: 'btn btn-primary w-100' %>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if current_user == @gruppetto.user %>
    <div class="m-2 p-3 bg-light p-1 rounded">
        <h4 class="" style='color:#37caa8;'>Manage your participants</h4>
        <% if @gruppetto.participants.count > 1 %>
          <div class="pt-2 ">
            <div class="table table-borderless table-hover justify-content-between">
              <div class="row border-bottom">
                <h5 class="col text-center">Status</h5>
                <h5 class="col text-center">Name</h5>
                <h5 class="col text-center">Accept/Reject</h5>
              </div>
              <div>
                <% @gruppetto.participations.each do |participant| %>
                  <% unless @gruppetto.user_id == participant.user_id %>
                      <%= render "participations/participant", participant: participant %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <p class="mb-0">No attendees yet 😢</p>
        <% end %>
    </div>
  <% end %>
</div>
